# Source files use LF
*.c      text eol=lf
*.h      text eol=lf
*.md     text eol=lf
*.txt    text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf

# Windows executables are binary
*.exe    binary

# Images
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary

# Add Kage as a Language
*.kage linguist-detectable=true
*.kage linguist-language=Kage
